<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
        <!-- 부트스트랩 -->
        <script src="../static/jquery.min.js"></script>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <title></title>
</head>
<body>
    <!-- 모든 합쳐진 플러그인을 포함하거나 (아래) 필요한 각각의 파일들을 포함하세요 -->
    <script src="../static/js/bootstrap.min.js"></script>
    <a href ="http://welfare.kaist.ac.kr/">
        <img src="http://welfare.kaist.ac.kr/files/attach/images/67/b16c03802899b3c9ad36621a3b578f77.gif">
    </a>




    <form method='get' action="/reserve/">
        <button > 예약 </button>
    </form>

    <form method='get' action="/modify/">
        <button> 수정 </button>
    </form>

</body>
</html>